html,
body {
  background: url('../../public/images/caspar-camille-rubin-89xuP-XmyrA-unsplash.jpg');
  background-size: cover;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  width: 100%;
  height: 100%;
}

#__next {
  background: rgba(63, 63, 63, 0.4);
  height: 100%;
}

#appNavigation {
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}